{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}" />
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                      Home
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Poll</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/journal/entries">Journal</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
<br>
<br>
<hr>
{% if latest_entry_list %}
    <ul>
    {% for entry in latest_entry_list %}
        <li>{{ entry.entry }}</li>
    {% endfor %}
    </ul>
    <form action="{% url 'journal:addentry' %}" method="post">
{% csrf_token %}
    Enter a new entry:
    <TEXTAREA NAME="entry" ROWS=5 COLS=40 ></TEXTAREA>
<input type="submit" value="Add entry" />
</form>
{% else %}
    <p>No entries are available.</p>
     <form action="{% url 'journal:addentry' %}" method="post">
{% csrf_token %}
    Enter a new entry:
    <TEXTAREA NAME="entry" ROWS=5 COLS=40 ></TEXTAREA>
<input type="submit" value="Add entry" />
</form>
{% endif %}
<script src="{% static 'jquery.js'%}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bootstrap.min.js'%}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'jquery.easing.min.js'%}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'grayscale.js'%}"></script>